* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: lightcyan;
}

header, h3 {
    text-align: center;
}

.buttons-klavs {
    margin: 5px;
    position: absolute;
    bottom: 20%;
    left: 40%;
}

.buttons-klavs .letter {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 40px;
    background-color: darkred;
    color: white;
}

.words {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    
}

.words-h3 {
    cursor: pointer;
}

.input-letter, .output-words {
    text-align: center;
}

.button
{
    display: block;
    border: solid 3px red;
    background-color: lightsalmon;
    width: 30%;
    height: 20%;
    border-radius: 20px;
    text-align: center;
    padding: 25px 15px;
}

.chosen
{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 40px;
    background-color: salmon;
    color: black;
}
a
{
    text-decoration: none;
    color: black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container
{
    position: relative;
    margin-left: 40%;
    /* margin-top: 10%; */

}

#bukvy
{
    margin: 8px;
    list-style: none;
    border: solid 1px black;
    width: 500px;
    margin-left: 30%;

}


#bukvy li
{
    padding: 10px;
}

.empty-klitynka {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    float: left;
    margin: 3px;
}

.clear
{
    clear: left;
}
.output {
    width: 500px;
    position: absolute;
    /* border: 1px solid black; */
    /* margin: 10%; */
    display: inline;
    text-align: center;
    left: 10%;
    top: 20%;
    padding: 0;
}

.output p {
    font-size: 40px;
    /* float: left; */
}

.input-vhad-slovo {
    font-size: 18px;
    position: absolute;
    right: 500px;
    top: 220px;
}

.input-vhad-button {
    font-size: 18px;
    position: absolute;
    right: 400px;
    top: 220px;
}

